@model System.Data.DataTable
@{
    ViewBag.Title = "FindAll";
}

<h2>MyTable</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>User</th>
        <th>Action</th>

    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Rows[i][0] }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Rows[i][0] })
                <input type="button" class="deleteRow" value="Delete" id=@Model.Rows[i][0] />
            </td>


        </tr>
    }

</table>

@Html.ActionLink("Add", "Create", "TableStaj")

@section scripts{
    <script type="text/javascript">
        $(document).on("click", ".deleteRow", function () {
            alert($(this).attr("id"));
        });

    </script>
}



